.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.player-container{
  display:flex;
  border-radius:25px;
  margin:auto;
  max-width: 60em;
  min-width: 40em;
  min-height:30em;
  background-color: RED;
  align-content: center;
  overflow:hidden;
}
.songs{
  width:20%;
  float:left;
  margin:0;
  background-color: green;
  position:relative;
  overflow-x: hidden;
  overflow-y:scroll;
  direction:rtl
}

.song-list{
  direction:ltr;
  margin:0;
  padding:0;
  list-style-type:none;
  text-align: right;
}
.songCurrent{
  padding:1em;
  font-style:italic;
  background-color:red;
}

::-webkit-scrollbar
{
    width: 0px;
}

.player{
  vertical-align: middle;
  width: 80%;
  position:relative;
  float:right;
  margin:auto;
}
progress{
  width:50%;
}
.player_time{
  font-size:small;
}
.control{
  border: 0;
  height: 5%;
  margin: auto;
  text-align: center;
  font-size:2em;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
